* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  color: #2fc18c;
}

body {
  background-color: rgb(253, 251, 251);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cabecalho {
  background-color: #036b52;
  border-bottom: 5px solid #2fc18c;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
}

#logo a {
  display: inline-block;
  background-image: url(/logotrybe.png);
  background-repeat: no-repeat;
  height: 70px;
  margin: 5px 0 0 10px;
  position: relative;
  text-indent: -999999px;
  width: 100px;
}

#titulo {
  color: #ffff;
  font-size: 35px;
  font-weight: normal;
  margin: -55px 40%;
  position: relative;
  width: 400px;
}

main {
  display: grid;
  grid-template-columns: 570px auto;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
  margin-top: 70px;
}

article {
  color: #525252;
  margin: 120px 0 0 100px;
  width: 300px;
}

article h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: lighter;
  font-size: 50px;
  margin-left: -60px;
  width: 600px;
}

article p {
  line-height: 25px;
  margin-top: 15px;
  width: 400px;
}

article img {
  margin: -60px 0 0 450px;
  width: 90px;
}

.lado-direito {
  display: grid;
  justify-items: center;
}

.listas {
  border-collapse: collapse;
  border-radius: 10px;
  color: #ffff;
  line-height: 35px;
  margin: 80px 0 0 80px;
  overflow: hidden;
}

.listas ul, ol {
  background-color: #41197f;
  list-style-position: inside;
  padding: 15px;
}

th {
  background-color: #036b52;
}

ul {
  border-left: 1px dashed #26035a;
  list-style: none;
}

#minha_foto {
  margin-left: 120px;
  width: 550px;
}

figcaption {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
  margin: -50px 0 50px 250px;
  text-align: center;
  width: 120px;
}

.turma {
  font-size: 10px;
  font-weight: lighter;
}

aside {
  color: #525252;
  margin: 100px 0 0 180px;
  width: 300px;
}

aside h2 {
  font-family: 'Epilogue', sans-serif;
  font-weight: lighter;
  font-size: 50px;
}

aside p {
  line-height: 25px;
  margin-top: 25px;
  width: 400px;
}

.box_shadow {
  box-shadow: 5px 5px 25px -20px #525252;
  width: fit-content;
}

#rodape {
  background-image: linear-gradient(to bottom, #2f0e7c, #41197f);
  display: flex;
  height: 200px;
  width: 100%;
}

.footer_trybe_links {
  height: 100px;
  line-height: 35px;
  margin-left: 100px;
  padding-top: 30px;
  position: relative;
  text-decoration: none;
  width: 150px;
}

.footer_trybe_links a {
  color: #ffff;
  font-weight: bold;
  text-decoration: none;
}

.footer_trybe_logo a {
  background-image: url(/logotrybe.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 100px;
  margin: 40px 0 0 70px;
  text-indent: -99999px;
  width: 100px;
}

.contato {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0 0 250px;
  width: 200px;
}

.contato_github a {
  display: inline-block;
  background-image: url(/github-brands.svg);
  background-repeat: no-repeat;
  height: 100px;
  text-indent: -999999px;
  width: 40px;
}

.contato_linkedin a {
  display: inline-block;
  background-image: url(/linkedin-brands.svg);
  background-repeat: no-repeat;
  height: 100px;
  text-indent: -999999px;
  width: 40px;
}

.contato_instagram a {
  display: inline-block;
  background-image: url(/instagram-brands.svg);
  background-repeat: no-repeat;
  height: 100px;
  text-indent: -999999px;
  width: 40px;
}

.referencias {
  margin: 40px 0 0 200px;
}

.referencias a {
  color: #ffff;
  font-weight: bold;
  text-decoration: none;
}

.footer_bottom {
  display: block;
  background-color: black;
  height: 40px;
  position: absolute;
  margin-top: 160px;
  text-align: center;
  width: 100%;
}

.footer_bottom p {
  color: #3d3d3d;
  margin-top: 15px;
  font-size: 15px;
  font-weight: lighter;
}
